@model WeatherResponse
    <form method="post">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" name="city" class="form-control" placeholder="Enter a city">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div> 
        </div>
    </form>
@if (Model != null)
{
    <div class="jumbotron main-weather">
        <div>
            <h3>City: @Model.CurrentWeather.Name, @Model.CurrentWeather.Sys.Country</h3>
            <h4>Weather: @Model.CurrentWeather.Weather.Main</h4>
        </div>
        <h5 class="temperature">@Model.CurrentWeather.Main.Temp_min - @Model.CurrentWeather.Main.Temp_max °C</h5>
        </div>
    <div class="container weather-container">
        <div class="row">
            @foreach (var itemsByDate in Model.WeatherForecast.GroupBy(x => x.Date.Day))
            {
                <div class="btn-group col-lg-12 date-group-title">
                    <button type="button" class="btn btn-toolbar dropdown-toggle" data-toggle="dropdown">
                        @itemsByDate.First().Date.ToString("dddd, dd MMMM yyyy hh:mm tt") <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var item in itemsByDate)
                        {
                            <li>
                                <div class="col-md-12 weather-box  thumbnail">
                                    <h4>@item.Date.ToString("dddd, dd MMMM yyyy hh:mm tt")</h4>
                                    <h4>Weather: @item.Weather[0].Main  |   @item.Main.Temp_min - @item.Main.Temp_max °C</h4>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
}
